/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.6;
    color: #2E2E2E;
    background-color: #f5f7fa;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #357ABD;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #357ABD;
}

button:disabled {
    cursor: default;
    background: #A6C4E2;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
    height: 100vh;
}

.chat__sidebar {
    height: 100%;
     color: #ECEFF4;
    background: #1F1F2C; 
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
     background-color: #ffffff;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
     background-color: #ffffff;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
     color: #444444;
}

.message__meta {
 color: #999999;
    font-size: 12px;
}

.message a {
       color: #4A90E2;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
     background: #252634;
    color: #ECEFF4;
    font-size: 20px;
    font-weight: 600;
    padding: 24px;
    border-bottom: 1px solid #2b2d3c;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
     color: #A0A0B2;
    font-size: 16px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
    color: #CCCCDD;
}